{% extends 'news_portal/main.html' %}

{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>



{% if is_not_authors %}
     <button> <a href="account/upgrade/">Cтать автором</a> </button>
{% endif %}



    <br>
<button> <a href="{% url 'subscribers' %}">Управление подписками</a> </button>

    <br>
    <h3> Редактирование профиля: </h3>
<hr>
<p>Необходимо ввести пароль заново!</p>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Сохранить изменения" />
</form>
{% endblock %}